# Ignore everything in .config by default
/*

# Unignore the specific directories you want to track
!.gitignore
!README.md
!/nvim/
!/tmux/

# Ignore OS-specific junk or local lockfiles
**/.DS_Store
**/node_modules/
